In [20]:
from teemo import GetGameData

In [23]:
players = ['WooRoo']

In [22]:
get = GetGameData(key = 'Key hidden')

In [24]:
data = get.generate_player_history(players)

In [25]:
data.columns = data.columns.map(lambda x: x.lower())

In [26]:
import pandas as pd

mod = pd.read_csv('clean_data.csv')

In [29]:
for api, mine in zip(data.columns, mod.columns):
    print(api,'   |   ', mine)

assists    |    id
champlevel    |    win
combatplayerscore    |    item1
damagedealttoobjectives    |    item2
damagedealttoturrets    |    item3
damageselfmitigated    |    item4
deaths    |    item5
doublekills    |    item6
firstbloodassist    |    trinket
firstbloodkill    |    kills
firstinhibitorassist    |    deaths
firstinhibitorkill    |    assists
firsttowerassist    |    largestkillingspree
firsttowerkill    |    largestmultikill
goldearned    |    killingsprees
goldspent    |    longesttimespentliving
inhibitorkills    |    doublekills
item0    |    triplekills
item1    |    quadrakills
item2    |    pentakills
item3    |    legendarykills
item4    |    totdmgdealt
item5    |    magicdmgdealt
item6    |    physicaldmgdealt
killingsprees    |    truedmgdealt
kills    |    largestcrit
largestcriticalstrike    |    totdmgtochamp
largestkillingspree    |    magicdmgtochamp
largestmultikill    |    physdmgtochamp
longesttimespentliving    |    truedmgtochamp
magicdamagedealt    |    totheal
magicdamagedealttochampions    |    totunitshealed
magicaldamagetaken    |    dmgselfmit
neutralminionskilled    |    dmgtoobj
neutralminionskilledenemyjungle    |    dmgtoturrets
neutralminionskilledteamjungle    |    visionscore
objectiveplayerscore    |    timecc
participantid    |    totdmgtaken
pentakills    |    magicdmgtaken
perk0    |    physdmgtaken
perk0var1    |    truedmgtaken
perk0var2    |    goldearned
perk0var3    |    goldspent
perk1    |    turretkills
perk1var1    |    inhibkills
perk1var2    |    totminionskilled
perk1var3    |    neutralminionskilled
perk2    |    ownjunglekills
perk2var1    |    enemyjunglekills
perk2var2    |    totcctimedealt
perk2var3    |    champlvl
perk3    |    pinksbought
perk3var1    |    wardsplaced
perk3var2    |    wardskilled
perk3var3    |    firstblood
perk4    |    matchid
perk4var1    |    championid
perk4var2    |    ss1
perk4var3    |    ss2
perk5    |    support
perk5var1    |    adc
perk5var2    |    position_JUNGLE
perk5var3    |    position_MID
perkprimarystyle    |    position_TOP
perksubstyle    |    duo

In [39]:
change_dict = {
    'champlevel' : 'champlvl',
    'damagedealttoturrets':'dmgtoturrets',
    'damageselfmitigated' : 'dmgselfmit',
    'firstbloodkill' : 'firstblood',
    'inhibitorkills' : 'inhibkills',
    'largestcriticalstrike' : 'largestcrit',
    'magicdamagedealt' : 'magicdmgdealt',
    'magicdamagedealttochampions' : 'magicdmgtochamp',
    'magicaldamagetaken' : 'magicdmgtaken',
    'neutralminionskilledenemyjungle' : 'enemyjunglekills',
    'neutralminionskilledteamjungle' : 'ownjunglekills',
    'damagedealttoobjectives' : 'dmgtoobj'
}

In [49]:
data = data.rename(columns=change_dict)

In [50]:
data.columns

Index(['assists', 'champlvl', 'combatplayerscore', 'dmgtoobj', 'dmgtoturrets',
       'dmgselfmit', 'deaths', 'doublekills', 'firstbloodassist', 'firstblood',
       ...
       'truedamagedealt', 'truedamagedealttochampions', 'truedamagetaken',
       'turretkills', 'unrealkills', 'visionscore', 'visionwardsboughtingame',
       'wardskilled', 'wardsplaced', 'win'],
      dtype='object', length=101)

In [51]:
def match_columns(df1, df2):
    '''
    match_columns(DataFrame1, DataFrame2)
    ...
    keeps columns with matching names
    drops columns with names that do not exist in either DataFrame 
    returns DataFrame1, DataFrame2 with all matching column names
    '''
# iterate through the two columns, drop columns that only exist in one of the dataframes
    for col in df1.columns:
        if col not in df2.columns:
            df1.drop(col, axis = 1, inplace = True)
    for col in df2.columns:
        if col not in df1.columns:
            df2.drop(col, axis = 1, inplace = True)
            
# reorder one of the DataFrames to match the order of columns
    ordered_df2 = pd.DataFrame()
    for col in df1.columns: 
        ordered_df2[col] = df2[col]
        
    return df1, ordered_df2

In [52]:
mod.head()

,id,win,item1,item2,item3,item4,item5,item6,trinket,kills,...,matchid,championid,ss1,ss2,support,adc,position_JUNGLE,position_MID,position_TOP,duo
0,9,0,3748,2003,3111,3053,1419,1042,3340,6,...,10,19,4,11,0,0,1,0,0,0
1,10,0,2301,3111,3190,3107,0,0,3364,0,...,10,267,3,4,1,0,0,0,0,0
2,11,0,1055,3072,3006,3031,3046,1036,3340,7,...,10,119,7,4,0,1,0,0,0,0
3,12,0,1029,3078,3156,1001,3053,0,3340,5,...,10,114,12,4,0,0,0,0,1,0
4,13,0,3020,1058,3198,3102,1052,1026,3340,2,...,10,112,4,3,0,0,0,1,0,0

In [53]:
data.head()

,assists,champlvl,combatplayerscore,dmgtoobj,dmgtoturrets,dmgselfmit,deaths,doublekills,firstbloodassist,firstblood,...,truedamagedealt,truedamagedealttochampions,truedamagetaken,turretkills,unrealkills,visionscore,visionwardsboughtingame,wardskilled,wardsplaced,win
0,1,12,0,0,0,6604,2,0,False,False,...,4242,260,421,0,0,17,0,2.0,9.0,False
1,26,17,0,32689,637,18819,17,0,False,False,...,12868,260,775,0,0,70,0,1.0,36.0,False
2,3,11,0,3550,33,23053,10,1,False,False,...,4484,262,1131,0,0,22,2,2.0,12.0,False
3,13,11,0,1759,370,20012,3,0,False,False,...,3784,0,80,0,0,22,0,2.0,14.0,True
4,17,13,0,3815,934,14594,1,0,False,False,...,6301,652,769,0,0,15,0,1.0,9.0,True

In [54]:
mod.drop(['id', 'matchid'], axis=1, inplace=True)

In [55]:
mod.shape

(1834517, 63)

In [56]:
model, api = match_columns(mod, data)

In [57]:
model.shape

(1834517, 37)

In [63]:
api.shape

(90, 37)

bool

In [68]:
X_train = model.drop('win', axis=1)
y_train = model.win

In [60]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

In [69]:
rf = RandomForestClassifier(n_estimators=200)
gb = GradientBoostingClassifier(n_estimators=200)

print(cross_val_score(rf, X_train, y_train, cv=4).mean())
print(cross_val_score(gb, X_train, y_train, cv=4).mean())

0.87679154704
0.874670007838

In [70]:
gb = GradientBoostingClassifier(n_estimators=800)

gb.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=800, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

In [80]:
api.dropna(inplace=True)
X_api = api.drop('win', axis=1)

In [86]:
gb.score(X_api, api.win)

0.88636363636363635

In [87]:
import pickle
from sklearn.externals import joblib

joblib.dump(gb, 'WinLossModel.pkl')

['WinLossModel.pkl']