In [1]:
import pandas as pd
import numpy as np

In [2]:
stats = pd.concat([pd.read_csv('RegularRanked/stats1.csv'), pd.read_csv('RegularRanked/stats2.csv')])
part = pd.read_csv('RegularRanked/participants.csv')

/Users/woochulro/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
stats.drop('wardsbought', axis=1, inplace=True)

In [9]:
stats.shape

(1834517, 55)

In [12]:
part.shape

(1834520, 8)

In [13]:
part.head()

   id  matchid  player  championid  ss1  ss2         role position
0   9       10       1          19    4   11         NONE   JUNGLE
1  10       10       2         267    3    4  DUO_SUPPORT      BOT
2  11       10       3         119    7    4    DUO_CARRY      BOT
3  12       10       4         114   12    4         SOLO      TOP
4  13       10       5         112    4    3         SOLO      MID

In [14]:
df = pd.merge(stats, part, on='id', how='left')

In [16]:
df.drop('player', axis=1, inplace=True)

In [17]:
df.columns

Index(['id', 'win', 'item1', 'item2', 'item3', 'item4', 'item5', 'item6',
       'trinket', 'kills', 'deaths', 'assists', 'largestkillingspree',
       'largestmultikill', 'killingsprees', 'longesttimespentliving',
       'doublekills', 'triplekills', 'quadrakills', 'pentakills',
       'legendarykills', 'totdmgdealt', 'magicdmgdealt', 'physicaldmgdealt',
       'truedmgdealt', 'largestcrit', 'totdmgtochamp', 'magicdmgtochamp',
       'physdmgtochamp', 'truedmgtochamp', 'totheal', 'totunitshealed',
       'dmgselfmit', 'dmgtoobj', 'dmgtoturrets', 'visionscore', 'timecc',
       'totdmgtaken', 'magicdmgtaken', 'physdmgtaken', 'truedmgtaken',
       'goldearned', 'goldspent', 'turretkills', 'inhibkills',
       'totminionskilled', 'neutralminionskilled', 'ownjunglekills',
       'enemyjunglekills', 'totcctimedealt', 'champlvl', 'pinksbought',
       'wardsplaced', 'wardskilled', 'firstblood', 'matchid', 'championid',
       'ss1', 'ss2', 'role', 'position'],
      dtype='object')

In [19]:
df.role.value_counts()

SOLO           717810
NONE           378618
DUO_SUPPORT    339072
DUO_CARRY      339071
DUO             59946
Name: role, dtype: int64

In [21]:
df.position.value_counts()

BOT       725655
JUNGLE    373311
MID       372594
TOP       362957
Name: position, dtype: int64

In [24]:
df['support'] = df.role.map(lambda x: 1 if x == 'DUO_SUPPORT' else 0)

In [25]:
df['adc'] = df.role.map(lambda x: 1 if x == 'DUO_CARRY' else 0)

In [29]:
df = pd.get_dummies(df, columns = ['position'])

In [31]:
df.drop('position_BOT', axis=1, inplace=True)

In [33]:
df['duo'] = df.role.map(lambda x: 1 if x == 'DUO' else 0)

In [35]:
df.drop('role', axis=1, inplace=True)

In [37]:
df.to_csv('clean_data.csv', index=False)